@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
    --font-judson: Judson, Serif;
    --font-crimson: Crimson-text, Serif;
    --color-green-500: #1D820C;
    --color-green-100: #82EE7030;
    --color-green-300: #82EE7070;
    --color-green-gradient-1: #D9D9D9;
    --color-green-gradient-2: #BEFFB4;
    --breakpoint-s: 400px;
    --breakpoint-xs: 480px;
}