#head{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    

}
#h1{
    padding-left: 80px;
    font-size: 2.5em;
    font-family: "trade-gothic-next", sans-serif, sans-serif;
    
}
#h4{
    padding-left: 80px;
    font-size: 1.3em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(70, 70, 70);

}
#img{
    width: 900px;
    border-radius: 10px;
    
}
header {
    background-color: #353535;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
    width: 100%;
border-radius: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;

}

footer p {
    font-size: 0.9em;
    font-family: Arial, sans-serif;
}


    


    
