* {
    box-sizing: border-box;
}

body {
    background-color: #E0DED2;
    margin: 0;
    font-family: Arial, sans-serif;
}

#image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.main {
    width: 100%;
    padding: 20px;
}

h3 {
    text-align: center;
}

.text {
    border: 1px solid #c7c19f;
    border-radius: 15px;
    height: 30px;
    width: 90%;
    margin: 10px auto;
    padding-left: 10px;
}

#box1, #box2, #box3, #box4, #box5 {
    height: 100px;
    width: 100%;
    background-color: #ffff;
    border-radius: 15px;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    border: none;
    border-radius: 20px;
    background-color: #1F6038;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: rgb(9, 63, 9);
}

/* Media Query for Tablets */
@media (max-width: 768px) {
    #center, #bottom {
        display: block;
    }

    #box2, #box3, #box4, #box5 {
        width: 100%;
        margin: 15px auto;
    }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
    h3 {
        font-size: 16px;
    }

    .text {
        width: 90%;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}
