<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="booking.js"></script>
</head>
<link rel="stylesheet" href="booking1.css">
<body>

    <script>
        window.onload = function() {
            // Check the screen width
            if (window.innerWidth < 900) {
                
                window.location.href = "booking1-res.html";
            }
        };
    </script>


    <div class="main">
        <div id="image">
            <img src="/Assets/Images/dustbin.jpeg" alt="">
       
        </div>

        <div class="top">
            <div id="box1">
                <h3>Plastic per kg x Rs15</h3>
                <form action=""> 
                    <input type="number" name="text" placeholder="Enter Quantity" class="text" id="getPlasitcQuantity">
                </form>
            </div>
        </div>

        <div id="center">
            
            <div id="box2">
                <h3>Paper per kg x Rs 10</h3>
                <form action=""> 
                    <input type="number" name="text" placeholder="Enter Quantity" class="text" id="getPaperQuantity">
                </form>
            </div>
             <div id="box3">
                <h3>Metal Scrap per kg x Rs 30</h3>
                <form action=""> 
                    <input type="number" name="text" placeholder="Enter Quantity" class="text" id="getMetalQuantity">
                </form>
             </div>
        </div>

        <div id="bottom">
            <div id="box4">
                <h3>Glass per kg x Rs 30</h3>
                <form action=""> 
                    <input type="number" name="text" placeholder="Enter Quantity" class="text" id="getGlassQuantity">
                </form>
            </div>
             <div id="box5">
                <h3>E-waist per kg x Rs 100</h3>
                 <form action=""> 
                    <input type="number" name="text" placeholder="Enter Quantity" class="text" id="getEwasteQuantity">
                </form>
             </div>
        </div>

        <button>
            <a href="booking2.html" style="text-decoration: none; color: white; cursor: pointer;" id="confirm-btn">Confirm Pickup!!</a>
        </button>
        

    </div>
    
</body>

</html>